@charset "utf-8";
/* CSS Document */

@import url("button.css");

#contentcolumn{
margin-left: 210px; /*Set left margin to LeftColumnWidth*/
}

#leftcolumn{
float: left;
width: 190px; /*Width of left column*/
/*margin-left: -100%;*/
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
   font-family: "Arial", sans-serif;
   font-size: 14px;
}

#wrapper {
	min-height: 100%;
	position:relative;
}

footer {
	width:100%;
	height:30px;
	position:absolute;
	bottom:0;
	left:0;
	background-color: #2D2D2D;
	border-top: 1px solid #000000;
}

footer #copyright{
	height:30px;
  	line-height:30px; 
	text-align: center;
	font-family: "Arial", sans-serif;
	font-size: 13px;
	color: #CCCCCC;
}

.signin-box input[type="text"], .signin-box input[type="password"] {
	direction: ltr;
	font-size: 12px;
	width: 250px;
	height: 24px;
}